<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CINEBD.Properties.Settings.CINEBDConnectionString"
            connectionString="Data Source=ADMINISTRATOR\SQLEXPRESS;Initial Catalog=CINEBD2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CINEBD.Properties.Settings.db_aadccb_cinebdConnectionString"
            connectionString="Data Source=SQL5113.site4now.net;Initial Catalog=db_aadccb_cinebd;Persist Security Info=True;User ID=db_aadccb_cinebd_admin;Password=BASEDEDATOS2;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
		
    </startup>
</configuration>